@()

@main("Open Environment Data") {

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">ODŚ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Mapa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">O nas</a>
      </li>
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    <h1>Otwarte Dane Środowiskowe</h1>
    <p class="lead">Tu będzie mapa ze źródłami danych.</p>
  </div>

</main><!-- /.container -->

}
